<%- include('../partials/header') %>
      <h2><%=title%></h2>
  	<h5>Photo of me:</h5>
  	<div class="fakeimg"><img src="samoa.jpg" width="200" height="200"/></div>
  
  	<p>Some text about me in culpa qui officia deserunt mollit anim..</p>
  	<h3 class="mt-4">About Samoa</h3>
  	<p>Below are links that can help you understand a little bit more about the Samoan culture and people.</p>
  	<ul class="nav nav-pills flex-column">
    	<li class="nav-item">
      	<a class="nav-link" href="https://www.samoa.travel/">Traveling to Samoa</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://culturalatlas.sbs.com.au/samoan-culture/samoan-culture-core-concepts">Cultural Atlas</a>
    	<li class="nav-item">
      	<a class="nav-link" href="https://metrosouth.health.qld.gov.au/sites/default/files/content/heau-cultural-profile-samoan.pdf">MetroSouth</a>
    	</li>
  	</ul>
  	<hr class="d-sm-none">
	</div>
	<div class="col-sm-8">
  	<h2>TITLE HEADING</h2>
  	<h5>Title description, Dec 7, 2020</h5>
  	<div class="fakeimg">Fake Image</div>
  	<p>Some text..</p>
  	<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

<%- include('../partials/footer') %> 
