<%- include('../partials/header') %>
      <h2><%=title%></h2>
  	<div class="fakeimg"><img src="coding.png" width="200" height="200"/></div>
  
  	<h3 class="mt-4">Resources</h3>
  	<p>Below are links to resources that have assisted me during my learning process.</p>
  	<ul class="nav nav-pills flex-column">
    	<li class="nav-item">
      	<a class="nav-link" href="https://www.w3schools.com/">W3Schools</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://developer.mozilla.org/en-US/">MDN Web Docs</a>
    	</li>
      <li class="nav-item">
      	<a class="nav-link" href="https://www.datacamp.com/">DataCamp</a>
    	</li>
  	</ul>
  	<hr class="d-sm-none">
	</div>
	<div class="col-sm-8">
  	<h2>Entering Tech as a Beginner</h2>
  	<h5>Title description, Dec 7, 2020</h5>
  	<div class="fakeimg">Fake Image</div>
  	<p>Some text..</p>
  	<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
<%- include('../partials/footer') %> 
