<%- include('../partials/header') %>
      <h2><%=title%></h2>
  	<h5>Photo of me:</h5>
  	<div class="fakeimg"><img src="travel.jpg" width="200" height="200"/></div>
  
  	<p>Some text about me in culpa qui officia deserunt mollit anim..</p>
  	<h3 class="mt-4">Travel Links</h3>
  	<p>From different books, to travelers sharing their experiences.</p>
  	<ul class="nav nav-pills flex-column">
    	<li class="nav-item">
      	<a class="nav-link" href="https://www.nomadicmatt.com/travel-blogs/thirteen-travel-books/">Great Travel Books</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://petapixel.com/2021/06/08/13-anthony-bourdain-quotes-their-value-to-me-as-a-travel-photographer/#:~:text=%E2%80%9CTravel%20changes%20you.,travel%E2%80%94leaves%20marks%20on%20you.">Anthony Bourdain Travel Quotes</a>
    	</li>
      <li class="nav-item">
      	<a class="nav-link" href="https://www.travelandleisure.com/travel-tips/packing-tips/carry-on-must-haves">Travel Essentials</a>
    	</li>
    
  	</ul>
  	<hr class="d-sm-none">
	</div>
	<div class="col-sm-8">
  	<h2>TITLE HEADING</h2>
  	<h5>Title description, Dec 7, 2020</h5>
  	<div class="fakeimg">Fake Image</div>
  	<p>Some text..</p>
  	<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
<%- include('../partials/footer') %> 
